<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etoak.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="com.etoak.pojo.Book" >
    <id column="book_id" property="bookId" jdbcType="INTEGER" />
    <result column="book_code" property="bookCode" jdbcType="VARCHAR" />
    <result column="book_name" property="bookName" jdbcType="VARCHAR" />
    <result column="book_publisher" property="bookPublisher" jdbcType="VARCHAR" />
    <result column="type_code" property="typeCode" jdbcType="VARCHAR" />
    <result column="book_quantity" property="bookQuantity" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    book_id, book_code, book_name, book_publisher, type_code, book_quantity
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_book
    where book_id = #{bookId,jdbcType=INTEGER}
  </select>
   <select id="queryAllBookInfo" resultMap="BaseResultMap" parameterType="com.etoak.pojo.Book" >
    select 
    <include refid="Base_Column_List" />
    from t_book
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_book
    where book_id = #{bookId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.etoak.pojo.Book" >
    insert into t_book (book_id, book_code, book_name, 
      book_publisher, type_code, book_quantity
      )
    values (#{bookId,jdbcType=INTEGER}, #{bookCode,jdbcType=VARCHAR}, #{bookName,jdbcType=VARCHAR}, 
      #{bookPublisher,jdbcType=VARCHAR}, #{typeCode,jdbcType=VARCHAR}, #{bookQuantity,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.etoak.pojo.Book" >
    insert into t_book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookId != null" >
        book_id,
      </if>
      <if test="bookCode != null" >
        book_code,
      </if>
      <if test="bookName != null" >
        book_name,
      </if>
      <if test="bookPublisher != null" >
        book_publisher,
      </if>
      <if test="typeCode != null" >
        type_code,
      </if>
      <if test="bookQuantity != null" >
        book_quantity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookId != null" >
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="bookCode != null" >
        #{bookCode,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null" >
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookPublisher != null" >
        #{bookPublisher,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null" >
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="bookQuantity != null" >
        #{bookQuantity,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etoak.pojo.Book" >
    update t_book
    <set >
      <if test="bookCode != null" >
        book_code = #{bookCode,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null" >
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookPublisher != null" >
        book_publisher = #{bookPublisher,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null" >
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="bookQuantity != null" >
        book_quantity = #{bookQuantity,jdbcType=INTEGER},
      </if>
    </set>
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etoak.pojo.Book" >
    update t_book
    set book_code = #{bookCode,jdbcType=VARCHAR},
      book_name = #{bookName,jdbcType=VARCHAR},
      book_publisher = #{bookPublisher,jdbcType=VARCHAR},
      type_code = #{typeCode,jdbcType=VARCHAR},
      book_quantity = #{bookQuantity,jdbcType=INTEGER}
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
</mapper>